@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-border: var(--border);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
}

@layer base {
  :root {
    --background: #f8fafc;
    --foreground: #0f172a;
    --border: #e2e8f0;
  }

  .dark {
    --background: #030712;
    --foreground: #f8fafc;
    --border: #1e293b;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased selection:bg-indigo-500/30;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-200 dark:bg-slate-700 rounded-full;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-300 dark:bg-slate-600;
  }
}
